@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .inv-cam {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1c1f2e;
}
